@charset "utf-8";
/* CSS Document */
body{font-size:14px; font-family:"微软雅黑", Arial, sans-serif; background-color:#fff;color: #696969; }
body,p ,ul,li,ol,dl,dt,dd,h1, h2, h3, h4, h5, h6,pre, form, fieldset, input,  blockquote, table, th, td, embed, object{ margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{ font-weight:normal;}
table, table th { border-collapse: collapse; border-spacing: 0; font-weight:normal; }
ul,dl,ol,li,dt,dd{ list-style:none;}
a{ outline:none;color: #696969;}
a, a:link, a:hover, a:active{ text-decoration: none; outline:none; }
a:focus{outline:none;}
a:hover{ color: #c92027; }
img,a img,fieldset{ border:none;}
em, b, i{font-style: normal;font-weight: normal;}
svg:not(:root) {
    overflow: hidden;
}
.clearfix{ font-size:0;line-height:0; height: 0; clear: both;}
.tc{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
.oh{overflow: hidden;}
.hot{color: #c92027;}
.dis_line{display: inline-block;*display: inline;*zoom:1;}
.w{width:1240px; margin:0 auto;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 
.cire{border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;}
.relative{position: relative;}

.icon{background: url(../img/icon.png) no-repeat 0 0;}
.mask {background: rgba(43, 46, 56, 0.9);position: fixed;z-index: 9999;top: -5000px;right: -5000px;bottom: -5000px;left: -5000px;display: none;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.loadingWrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}
.spinner {
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 10000;
	top: 50%;
	left: 50%;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: -10px;
	right: -10px;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*topinfo*/
.head{ background-color:#f3f3f3;width:100%;height:36px; line-height: 36px; }
.t_login a{ margin-left: 25px; }
.wx_log{background: url(image/chat.png) no-repeat 0 center; padding-left: 25px;}
.qq_log{background: url(image/qq.png) no-repeat 0 center; padding-left: 23px;}
.t_info a{ margin-left: 20px; }

/*logobox*/
.logobox{ height: 160px; width: 100%; background-color: #fff; }
.logobox .logo{ margin:35px 0; float:left; display:block;text-indent: -9999em; background: url(image/logo.png) no-repeat;width: 190px; height: 90px;}
.logobox .car_a{ float: right; background: url(image/car.png) no-repeat 12px center; padding:10px 15px 10px 45px; border: 1px solid #ddd; margin-top: 60px; }

.logobox .selectbox{float: left; margin-top: 38px; margin-left: 80px;padding-right: 90px;}
.logobox .selectbox .search_panel{position: relative;}
.logobox .selectbox .search_btn{font-family:"微软雅黑", Arial, sans-serif;font-size: 20px;letter-spacing: 5px;color: #FFF;background-color: #c92027; cursor: pointer;height: 100%; border: none; width: 100%;}
.logobox .selectbox .search_btnbox{position: absolute; right: -90px; top:0; z-index: 100; width: 90px;  height:38px; overflow: hidden; text-align: center;}
.logobox .selectbox .search_input{font-family:"微软雅黑", Arial, sans-serif;vertical-align: middle;padding: 6px 0; text-indent: 10px; height: 22px; line-height: 22px; width: 610px; border: none; outline: 0; background-color: #FFF; *margin-left: -10px;*margin-top: -1px;}
.logobox .selectbox .search_field{ padding: 2px 0 2px 2px;height: 34px; background-color: #c92027;}
.logobox .selectbox .search_list{height: 25px;}
.logobox .selectbox .search_list li{text-align: center; float: left;width: 60px;height: 25px; line-height: 25px; cursor: pointer;}
.logobox .selectbox .search_list li.on{color: #FFF;background-color: #c92027;}
.logobox .selectbox .search_info{ margin-top: 6px }
.logobox .selectbox .search_info a{ margin-right: 15px; }

/*stars*/
.stars{
  width: 83px;
  height: 15px;
  background: url(../img/icon.png) no-repeat -371px 0;
}
.stars.s2{
  background-position: -371px -15px;
}
.stars.s3{
  background-position: -371px -30px;
}
.stars.s4{
  background-position: -371px -45px;
}
.stars.s5{
  background-position: -371px -60px;
}

/*menu*/
.menubox{ background-color: #1b2139; width: 100%; height:46px;}
.all_typebox{ float: left;width: 230px;}
.all_type{height: 46px;color: #fff; line-height: 46px; font-size: 16px; background: url(image/leib.png) no-repeat 195px center #c92027; text-indent: 25px; letter-spacing: 1px;}
.menu_list li { float: left; padding: 0 34px;  line-height: 45px; }
.menu_list li.on{background-color: #c92027;}
.menu_list li a{color: #fff;font-size: 16px; letter-spacing: 1px;}

#index .menu_main{display: block;}
.menu_main{display:none; padding-top: 10px; border: 1px solid #ddd;height: 430px;position:absolute;background-color: white;z-index: 999;}
.nav_list{font-size:16px;width: 230px;position: relative;}
.nav_list li{float: left; width: 100%;}
.nav_list li h3{font-size:16px;text-indent: 25px; letter-spacing: 1px; background: url(image/r_j.png) no-repeat 205px center; height: 40px; line-height: 40px; z-index: 999; position: relative; }
.drop_box{font-size:14px;width:780px;min-height:428px;height:auto;display: none; position: absolute; left: 228px; top: 0px; border:2px solid #ddd; background-color: #fff;}
.nav_list li.on h3{border:2px solid #ddd; border-right-color: #fff;height: 36px;line-height: 36px;}
.fore{ overflow: hidden; border-bottom: 1px solid #eee; padding: 12px 0; margin:0 20px; }
.fore dt{ float: left; width: 100px; text-align: right;}
.fore dd{float: left;width: 600px;}
.fore a{ margin-right: 25px;line-height: 28px; }

/*foot*/
.foot{height: 400px;padding-top: 30px; background-color: #F2F2F2; width: 100%;border-top:1px solid #ccc; }
.foot .fmenuBox{float: left;width: 100%;}
.foot .fmenu{float: left;}
.foot .fmenu ul{float: left;width: 200px;}
.foot .fmenu li {margin-bottom: 10px;}
.foot .fmenu li.first{font-size: 20px;}
.foot .wxcode{float: right;text-align: center;width: 180px;}
.foot .wxcode .s1{font-size: 18px;display: inline-block;}
.foot .wxcode .s2{display: inline-block;}
.foot .wxcode .codeimg{}
.foot .copyrightBox{padding-top: 15px; margin-top:30px;float: left;border-top:1px solid #ccc;width: 100%;}
.foot .fcompanyList{float: left;width: 100%;margin-top: 15px;}
.foot .fcompanyList a{float: left;margin-right: 20px;width: 150px;height: 50px;}

/*lunbo*/
.banner{ padding-top: 10px; }
.bannerbox{position: relative;}

/* superslide css */
.slideBox{width: 100%; height:440px;overflow:hidden; position:relative;}
.slideBox .hd{height:15px; overflow:hidden; position:absolute; right:35px; bottom:15px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:5px; width:12px; height:12px;border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;  text-align:center; background-color:#fff; cursor:pointer;}
.slideBox .hd ul li.on{border:1px solid #c92027; }
.slideBox .bd{position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{width:100%;display:block;  }

/* .slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(image/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  } */

/* picScroll css */
.picScroll-left{ width:1240px;  position:relative; }
.picScroll-left .hd{ position: absolute;right: 0; top: -50px;*top: -35px; }
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  float:right; overflow:hidden; cursor:pointer; }
.picScroll-left .hd .prevStop{ background-position:-60px 0; }
.picScroll-left .hd .nextStop{ background-position:-60px -50px; }
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; zoom:1; display: none; }
.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("images/icoCircle.gif") 0 -9px no-repeat; }
.picScroll-left .hd ul li.on{ background-position:0 0; }
.picScroll-left .bd{ margin-top: 10px; }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .pro_list li{ 
  margin:6px 7px 5px 7px; 
  padding-bottom: 2px;
  border:1px solid white;
  float:left; 
  _display:isnline; 
/*  overflow:hidden; */
  position: relative;
}
.picScroll-left ul li .item-info{
  padding: 0 5px 0 13px;
}
.picScroll-left ul li:hover em.item-name{
  color: #696969;
}
.no-csstransitions .picScroll-left ul li:hover,
.no-csstransforms .picScroll-left ul li:hover,
.no-csstransitions #indexBox .sp_biglist li a:hover,
.no-csstransforms #indexBox .sp_biglist li a:hover,
.no-csstransitions #indexBox .sp_smlist li a:hover,
.no-csstransforms #indexBox .sp_smlist li a:hover{
  border:1px solid #C92027;
}
li svg.borderTran {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 233px;
    height: 378px;
}

li svg.borderTran line {
    stroke-width:2;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

/*.picScroll-left .bd ul li svg line.top, 
.picScroll-left .bd ul li svg line.bottom {
    stroke-dasharray: 330 240;
}
.picScroll-left .bd ul li svg line.left, 
.picScroll-left .bd ul li svg line.right {
    stroke-dasharray: 490 400;
}*/
li:hover svg.borderTran line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  stroke:#C92027;
}
li:hover svg.borderTran line.top {
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px);
}

li:hover svg.borderTran line.bottom {
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
}

li:hover svg.borderTran line.left {
  -webkit-transform: translateY(520px);
  transform: translateY(520px);
}

li:hover svg.borderTran line.right {
  -webkit-transform: translateY(-520px);
  transform: translateY(-520px);
}


.picScroll-left .bd ul li .pic img{ width:232px; height:300px; display:block; }
.pageState{ display: none; }
.picScroll-left .hd .prev:hover,.picScroll-left .hd .next:hover{background-color: #c0c0c0; }

.sfbtn{cursor: pointer; background-color: white;border:1px solid #ccc;display: inline-block;text-align: center;line-height: 38px;height: 38px;}
.sfbtn:hover{padding: 0 1px; background-color: #C92027;height: 40px;border:none;color: white;}


.pro_box{ margin-top: 40px;}
.pro_box .tit{ padding-bottom: 10px; border-bottom: 1px solid #ddd; overflow: hidden;}
.pro_box .titname{font-size: 24px;}
.pro_box .tit_r{ font-size: 14px; margin-top: 10px; }
.pro_box .tit_r a,.picScroll-left .next,.picScroll-left .prev{width: 22px; height: 22px; background-color: #999; text-align: center; color: #fff; font-size: 26px; font-size: 18px; line-height: 20px; margin-left: 5px; }
.pro_box .tit_r a:hover{ background-color: #c0c0c0; }

/*jingxuan*/
.products{width: 1240px; }
.pro_list{ overflow: hidden;padding-bottom: 10px;}
.pro_list li{position: relative; width: 232px; float: left; margin-top: 15px; margin-left:8px;margin-right:8px;}
/*.pro_list li:first-child{ margin-left: 0; }*/
.item-desc{ display: block; }
.item-price{display: block;color: #c92027; font-size: 20px; margin-top: 5px;}

.listSearchBox{margin-top: 20px;height: 50px;}
/*列表页选项框*/
.listSearchBox .tabBox{float: left;}
.listSearchBox .tabBox a{padding-left:1px;float: left;width: 94px;height: 40px;text-align: center;line-height: 40px;background-color: white;border:1px solid #ddd;border-left:none; }
.listSearchBox .tabBox a.on{padding-left:0px;background-color: #E3E3E3;border:none;width: 96px;height: 42px;line-height: 42px;}
.listSearchBox .tabBox a:first-child{border-left:1px solid #ddd; }
.listSearchBox .tabBox2{
  float: left;
  border:1px solid #ddd;
  height: 38px;
  line-height: 38px;
}
.listSearchBox .tabBox2 a{
  float: left;
  margin-right: 28px;
}
.listSearchBox .tabBox2 a:first-child{
  margin-left: 20px;
}
.listSearchBox .tabBox2 a.on{
  color: #C92027;
}
/*列表页标签搜索*/
.listSearchBox .searchTag{padding-bottom:20px; padding-left:10px; float: left;background-color: #e3e3e3;}
.listSearchBox .searchTag .tagList{float: left;margin-top: 20px;width: 100%;}
.listSearchBox .searchTag .tagList .l{float: left;width: 70px;text-align: right;}
.listSearchBox .searchTag .tagList .r{float: left;width: 1150px;}
.listSearchBox .searchTag .tagList .r a{float: left;margin-left:20px;}
.listSearchBox .searchTag .tagList .r a.on{color: #c92027;}
.listSearchBox .searchTag .tagList .r.color a{margin-left: 0;width: 24px;height: 20px;}
.listSearchBox .searchTag .tagList .r a.c1{background-color:#0AB499;}
.listSearchBox .searchTag .tagList .r a.c2{background-color:#1CC571;}
.listSearchBox .searchTag .tagList .r a.c3{background-color:#62ACDE;}
.listSearchBox .searchTag .tagList .r a.c4{background-color:#9E5EB5;}
.listSearchBox .searchTag .tagList .r a.c5{background-color:#374A60;}
.listSearchBox .searchTag .tagList .r a.c6{background-color:#E7BF0E;}
.listSearchBox .searchTag .tagList .r a.c7{background-color:#DF831D;}
.listSearchBox .searchTag .tagList .r a.c8{background-color:#E25A45;}
.listSearchBox .searchTag .tagList .r a.c9{background-color:#EDF0F1;}
.listSearchBox .searchTag .tagList .r a.c10{background-color:#ADB9B9;}
.listSearchBox .searchTag .tagList .r a.c11{background-color:#000000;}
.listSearchBox .search_wt{float: right;position: relative;}
.listSearchBox .search_btn{background-color: #1B2139; float: left; font-family:"微软雅黑", Arial, sans-serif;font-size: 20px;text-align: center; color: #FFF;cursor: pointer;height: 100%;width:74px;height: 42px;border:none;}
.listSearchBox .search_input{border:1px solid #ddd; float: left; font-family:"微软雅黑", Arial, sans-serif;vertical-align: middle;padding: 6px 0; text-indent: 10px; height:28px; line-height: 22px; width:348px; border-right: none; outline: 0; background-color: #FFF;}
.selectBox{border:1px solid #ddd;border-bottom:none;position:absolute;width: 72px;background-color: white;padding-top: 40px;}
.selectBox li{width: inherit;cursor: pointer; display: none;height: 40px;border-bottom:1px solid #ddd;text-indent:6px; line-height: 40px;background-color: white;}
.selectBox li.on{display:inline-block; position: absolute;top: 0;left: 0;}
.selectBox i{position: absolute;top: 16px;right: 8px; width: 9px;height: 7px; background: -58px 0 no-repeat url(../img/icon.png);}
.selectBox li:hover{background-color: #efefef;}


/*index page*/
#index .bannerbox{padding-left: 250px;}

.wrapperBox{padding-bottom: 40px;overflow: hidden;}
/*changebox*/
#indexBox .changebox{ height: 169px; padding-top: 15px;}
#indexBox .change_one{background-color: #eee; width: 230px; height: 100%; text-align: center; float: left;}
#indexBox .change_btn{ font-size: 20px;background: url(image/refash.png) no-repeat 0 5px; padding:5px 0 5px 30px; margin-top: 66px;}
#indexBox .change_list{ float:left; height: 100%; }
#indexBox .change_list li{float:left; width: 232px; height: 100%; margin-left: 20px;}

/*tese*/
#indexBox .specilbox{overflow: hidden;margin-top: 15px;}
#indexBox .sp_shop{ float:left; margin-right: 25px; }
#indexBox .sp_big{width: 310px; height: 267px; float: left;}
#indexBox .sp_biglist li{ 
  margin-bottom: 10px; 
  width: 310px; 
  height: 271px; 
  float: left;
}
#indexBox .sp_biglist li a{
  width: 308px; 
  height: 269px; 
  float: left;
  position: relative;
  border:1px solid white;
  overflow: hidden;
}
#indexBox .sp_biglist li svg.borderTran{
  width: 308px; 
  height: 269px; 
  top: 0;
  left: 0;
}
#indexBox .sp_small{ float: left;width: 668px; }
#indexBox .sp_smlist li{ float: left;width: 212px; height: 267px; margin-left: 10px; margin-bottom: 10px;}
#indexBox .sp_smlist li{ 
  margin-bottom: 10px; 
  width: 212px; 
  height: 267px; 
  float: left;
}
#indexBox .sp_smlist li a{
  width: 210px; 
  height: 265px; 
  float: left;
  position: relative;
  border:1px solid white;
  overflow: hidden;
}
#indexBox .sp_smlist li svg.borderTran{
  width: 210px; 
  height: 265px; 
  top: 0;
  left: 0;
}

/*studio*/
#indexBox .studioList{overflow: hidden;}
#indexBox .studioList .item{width: 230px;height: 393px;float: left;margin:15px 9px;}
#indexBox .studioList .item .pic{float: left;width: 230px;height: 258px;}
#indexBox .studioList .item .m{float: left;width: 230px;margin-top: 15px;}
#indexBox .studioList .item .m .face{float: left;border:1px solid #ccc;}
#indexBox .studioList .item .m .r{float: right;width: 150px;}
#indexBox .studioList .item .m .r .s1{width: 150px;float: left;margin-top: 10px;}
#indexBox .studioList .item .m .r .s2{width: 150px;float: left;margin-top: 5px;color: #999;}
#indexBox .studioList .item .goBtn{height: auto;line-height: inherit;margin-top: 15px; float: left;width: 228px;display: inline-block;text-align: center;padding-top: 10px;padding-bottom: 10px;}

/*factory*/
#indexBox .factoryList{overflow: hidden;}
#indexBox .factoryList .item{width: 230px;float: left;margin:15px 9px;position: relative;}
#indexBox .factoryList .item .in{width: 190px;height: 70px;position: absolute;top: 200px;left: 18px;border: 1px solid white;padding: 2px;}
#indexBox .factoryList .item .in .c{background-color: white;width:100%;height: 100%;float:left;}
#indexBox .factoryList .item .in .c .falogo{width:60px;height:50px;float: left;margin-left: 20px;margin-top: 10px;}
#indexBox .factoryList .item .in .c span{float: left;margin-top: 25px;margin-left: 15px;width: 90px;}
#indexBox .factoryList .item .in .c span i{display: inline-block;width: 14px;height: 10px; background: 0 0 no-repeat url(../img/icon.png);}
#indexBox .factoryList .item:hover .in .c span{color: #696969;}
#indexBox .factoryList .item .f{float: left;width: 230px;line-height: 23px;}
#indexBox .factoryList .item .f .cname{float:left;width: 100%;}
#indexBox .factoryList .item .f .s1{float:left;width: 100%;}
#indexBox .factoryList .item .f .s2{float:left;width: 100%;}

/*recommend*/
#recommend .card-item .f{}
#recommend .card-item .f .item-price{float: left;}
#recommend .card-item .f .r{float: right; margin-top: 7px;color: #696969}
#recommend .card-item .f .r i{margin-top:3px;float: left;width:15px; height: 13px; background: -15px 0 no-repeat url(../img/icon.png);}


/*designer page*/
#designerBox .bannerBg1{position: absolute;top: 10px;left: -240px; width: 403px;height: 439px; background: url(../img/bannerBg1.png) no-repeat 0 0;}
#designerBox .bannerBg2{position: absolute;top: 10px;right: -240px;width: 392px;height: 413px; background: url(../img/bannerBg2.png) no-repeat 0 0;}
#designerBox .slideBox{padding: 10px;background-color: white;}
#designerBox .slideBox .bd{overflow: hidden;}

#designerBox{background-color: #EEEEEE;padding-bottom: 40px;}
#designerBox .designerList{overflow: hidden;}
#designerBox .designerList .item{padding-bottom: 20px; background-color: white; width: 230px;float: left;margin:15px 9px;position: relative;}
#designerBox .designerList .item:hover{background-color:#E3E3E3;}
#designerBox .designerList .item .face{float: left;width: 105px;height: 105px;border-radius: 50%;margin-top:28px;margin-left: 62px;}
#designerBox .designerList .item .m{border-bottom: 1px solid #EBEBEB;padding-bottom: 15px;margin-left: 10px; float: left;width: 210px;text-align: center;}
#designerBox .designerList .item:hover .m{border-bottom: 1px solid white;}
#designerBox .designerList .item .m .s1{display: block;margin-top: 10px;font-size: 18px;}
#designerBox .designerList .item .m .s2{display: block;margin-top: 5px;}
#designerBox .designerList .item .m .s3{display: block;margin-top: 5px;}
#designerBox .designerList .item .m .s4{display: block;color:#C6C6C6;margin-top: 5px;color: #999;}
#designerBox .designerList .item .sfbtn{width:130px;margin: 15px 0 0 50px; float: left;}
#designerBox .designerList .item .sfbtn:hover{}
#designerBox .designerList .item .like{font-size: 12px;position:absolute;top:8px;right:8px;}
#designerBox .designerList .item .like i{display: inline-block;width: 14px;height: 16px; background: -30px 0 no-repeat url(../img/icon.png);}
#designerBox .designerList .item:hover .like{color: #CB373C;}
#designerBox .designerList .item:hover .like i{background-position: -44px 0;}

.designerFlowerListModal #modal1Title{text-align: left;border-bottom: 1px solid #ddd;margin-bottom: 20px;padding-bottom: 20px;width: 100%;font-size: 18px;}
.designerFlowerListModal #modal1Desc ul{float: left;width: 100%;}
.designerFlowerListModal #modal1Desc li{float: left;width: 150px;height: 150px;margin-right:5px;margin-left:5px;margin-bottom: 10px;}
.designerFlowerListModal .close{right: 40px;top: 37px;position: absolute;font-size: 16px;cursor: pointer;}
.designerFlowerListModal .confirm{width:158px;}
.designerFlowerListModal .confirm:hover{}

#designerBox .flowerList{overflow: hidden;}
#designerBox .flowerList .item{
  padding-bottom: 15px;
  background-color: white; 
  width: 230px;
  float: left;
  margin:15px 9px;
}
#designerBox .flowerList .item .pic{float: left;width: 230px;height: 258px;}
#designerBox .flowerList .item .m{margin-left: 15px; float: left;width: 230px;margin-top: 15px;}
#designerBox .flowerList .item .m .face{float: left;border:1px solid #ccc;}
#designerBox .flowerList .item .m .r{float: right;width: 150px;}
#designerBox .flowerList .item .m .r .s1{width: 150px;float: left;margin-top: 10px;}
#designerBox .flowerList .item .m .r .s2{width: 150px;float: left;margin-top: 5px;color: #999;}

#designerBox .listSearchBox .searchTag{display: none;}
#designerBox .listSearchBox .selectBox,
#diyBox.flowerListWrapper .listSearchBox .selectBox,
#diyBox.maListWrapper .listSearchBox .selectBox{left: -102px;}
#designerBox .listSearchBox .search_input{border-left: none;}

#designerBox.studioWrapper{
  background-color: white;
  padding-top: 20px;
}
#designerBox.studioWrapper .infoBox{
  width: 100%;
  overflow: hidden;
}
#designerBox.studioWrapper .infoBox .face{
  float: left;
  width: 192px;
  height: 192px;
  margin-right: 25px;
}
#designerBox.studioWrapper .infoBox .b1{
  float: left;
}
#designerBox.studioWrapper .infoBox .b1 h3{
  font-size: 30px;
  margin-top: 10px;
  width: 600px;
  max-height: 75px;
  overflow: hidden;
}
#designerBox.studioWrapper .infoBox .b1 ul{
  line-height: 30px;
  margin-top: 20px;
}
#designerBox.studioWrapper .infoBox .b1 li{}
#designerBox.studioWrapper .infoBox .linkBtn{
  float: right;
  width: 140px;
  height: 140px;
  border:1px solid #ddd;
  font-size: 18px;
  color: #999;
}
#designerBox.studioWrapper .infoBox .linkBtn span{
  float: left;
  margin-left: 25px;
  margin-top: 10px;
}
#designerBox.studioWrapper .infoBox .linkBtn i{
  width: 30px;
  height: 32px;
  background-position: -54px -49px;
  float: left;
  margin-left: 54px;
  margin-top: 40px;
}
#designerBox.studioWrapper .infoBox .likeBtn{
  float: right;
  margin-right: 30px;
  width: 140px;
  height: 140px;
  border:1px solid #ddd;
  font-size: 24px;
  color: #999;
}
#designerBox.studioWrapper .infoBox .likeBtn .s1{
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}
#designerBox.studioWrapper .infoBox .likeBtn .s1 i{
  width: 23px;
  height: 25px;
  background-position: -85px -50px;
  float: left;
}
#designerBox.studioWrapper .infoBox .likeBtn .s1 span{
  float: left;
  margin-left: 5px;
}
#designerBox.studioWrapper .infoBox .likeBtn .s2{
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}
#designerBox.studioWrapper .listSearchBox .searchTag{
  display: inline-block;
  background-color: white;
}
#designerBox.studioWrapper .listSearchBox .search_input{
  border-left: 1px solid #ddd;
}

/*factory page*/
#factoryBox{background-color: #EEEEEE;padding-bottom: 40px;}
#factoryBox .banner,
#shopIndexBox .banner{
  padding-top: 0;
}
.listSearchBox .l{float: left;width: 750px;}
.listSearchBox .l .box{float: left;width: 100px;height: 50px;position: relative;}
.listSearchBox .selectBox{top: 0;left: 0;width: 100px;}
#factoryBox .listSearchBox .sortBtn{
  float: left;
  width: 100px;
  border:1px solid #ddd;
  height: 40px;
  line-height: 40px;
  background-color: white;
  position: relative;
}
#factoryBox .listSearchBox .sortBtn span{
  float: left;
  margin-left: 27px;
}
#factoryBox .listSearchBox .sortBtn i{
  float: left;
  width: 12px;
  height: 13px;
  background: url(../img/icon.png) -67px 0 no-repeat; 
  display: inline-block;
  margin-top: 13px;
  margin-left: 3px;
}


#factoryBox .list{overflow: hidden;}
#factoryBox .list .item{
  background-color: white; 
  width: 230px;
  float: left;
  margin:15px 9px;
  position: relative;
  height: 420px;
}
#factoryBox .list .item .city{
  background-color: #1B2139;
  position: absolute;
  left: 0;
  top: 196px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-indent: 10px;
  padding-right: 10px;
  height: 22px;
  line-height: 22px;
}
#factoryBox .list .item:hover .city{
  background-color: #FF6700;
}
#factoryBox .list .item .pic{
  float: left;
  height: 185px;
  width: 100%;
  overflow: hidden;
}
#factoryBox .list .item .pic img{
  float: left;
}
#factoryBox .list .item .falogo{
  
}
#factoryBox .list .item .falogo img{
  float: left;
  width: 86px;
  height: 86px;
  border-radius: 43px;
  border: 2px solid #ddd;
  float: left;
  margin-left: 68px;
  margin-top: 15px;
}
#factoryBox .list .item .title{
      float: left;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
}
#factoryBox .list .item .s1{
  float: left;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}
#factoryBox .list .item .b{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#factoryBox .list .item .b .linkFaBtn{
  float: left;
    width: 114px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border: 1px solid #ddd;
}
#factoryBox .list .item .b .goFaBtn{
  float: left;
    width: 113px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border: 1px solid #ddd;
    border-left: none;
}


/*factory detail list page*/
#factoryBox.factoryDetailList .banner{
  padding-top: 0;
}
#factoryBox.factoryDetailList .sortBtn span{
  margin-left: 17px;
}
#factoryBox .detailList,
#diyBox.faListWrapper .list{overflow: hidden;}
#factoryBox .detailList .item,
#diyBox.faListWrapper .list .item{
  background-color: white; 
  width: 100%;
  float: left;
  margin-top:25px;
  position: relative;
  height: 104px;
}
#factoryBox .detailList .item .pic,
#diyBox.faListWrapper .list .item .pic{
  float: left;
  width: 180px;
  height: 104px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#factoryBox .detailList .item .pic img,
#diyBox.faListWrapper .list .item .pic img{
  float: left;
  width: 180px;
}
#factoryBox .detailList .item .falogo img,
#diyBox.faListWrapper .list .item .falogo img{
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  border: 2px solid #ddd;
  left: 100px;
  top: 18px;
}
#factoryBox .detailList .item .b2,
#diyBox.faListWrapper .list .item .b2{
  float: left;
  margin-left: 25px;
  width: 284px;
  height: 104px;
}
#factoryBox .detailList .item .b2 .title,
#diyBox.faListWrapper .list .item .b2 .title{
  float: left;
  width: 284px;
  font-size: 18px;
  margin-top: 10px;
}
#factoryBox .detailList .item .b2 .s1,
#diyBox.faListWrapper .list .item .b2 .s1{
  float: left;
  width: 284px;
  margin-top: 8px;
}
#factoryBox .detailList .item .b2 .s2,
#diyBox.faListWrapper .list .item .b2 .s2{
  float: left;
  width: 284px;
  margin-top: 8px;
}
#factoryBox .detailList .item .b3,
#diyBox.faListWrapper .list .item .b3{
  float: left;
  height: 104px;
  width: 342px;
}
#factoryBox .detailList .item .b3 .box,
#diyBox.faListWrapper .list .item .b3 .box{
  float: left;
  width: 156px;
  margin-right: 12px;
  margin-top: 12px;
  
}
#factoryBox .detailList .item .b3 label,
#diyBox.faListWrapper .list .item .b3 label{
  float: left;
    text-align: right;
    width: 50px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;  
}
#factoryBox .detailList .item .b3 .price,
#diyBox.faListWrapper .list .item .b3 .price{
  float: left;
    width: 80px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px 0;
    position: relative;
}
#factoryBox .detailList .item .b3 .price i,
#diyBox.faListWrapper .list .item .b3 .price i{
    font-size: 12px;
    width: 32px;
    height: 16px;
    background-color: #FF6700;
    color: white;
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 7px;
}
#factoryBox .detailList .item .linkFaBtn,
#diyBox.faListWrapper .list .item .linkFaBtn{
  width: 100px;
    height: 64px;
    margin-top: 16px;
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 64px;
    color: #999;
    float: left;
    margin-right: 15px;
}
#factoryBox .detailList .item .goFaBtn:hover,
#diyBox.faListWrapper .list .item .goFaBtn:hover,
#factoryBox .detailList .item .linkFaBtn:hover,
#diyBox.faListWrapper .list .item .linkFaBtn:hover{
  color: white;
  border:none;
}
#factoryBox .detailList .item .goFaBtn,
#diyBox.faListWrapper .list .item .goFaBtn{
  width: 100px;
    height: 64px;
    margin-top: 16px;
    display: inline-block;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 64px;
    color: #999;
    float: left;
}
#factoryBox .detailList .item .r,
#diyBox.faListWrapper .list .item .r{
      float: right;
    width: 160px;
    margin-right: 15px;
    margin-top: 20px;
}
#factoryBox .detailList .item .r .city,
#diyBox.faListWrapper .list .item .r .city{
      float: left;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
}
#factoryBox .detailList .item .r .faStatus,
#diyBox.faListWrapper .list .item .r .faStatus{
  float: left;
    width: 100%;
    text-align: right;
}
#factoryBox .detailList .item .r .faStatus i,
#diyBox.faListWrapper .list .item .r .faStatus i{}
#factoryBox .detailList .item .r .faStatus i.red,
#diyBox.faListWrapper .list .item .r .faStatus i.red{color: #c92027;}
#factoryBox .detailList .item .r .faStatus i.orange,
#diyBox.faListWrapper .list .item .r .faStatus i.orange{color: #ff6700;}

#factoryBox.detailWrapper{
  margin-top: 15px;
  background-color: white;
}
#factoryBox.detailWrapper .deLBox{
  overflow: hidden;
  display: inline-block;
  width: 826px;
  height: 402px;
  margin-right: 15px;
}
#factoryBox.detailWrapper .deLBox .slideBox{
  height: 402px;
}
#factoryBox.detailWrapper .deLBox .slideBox .hd{
  right: 0;
  width: 100%;
  text-align: center;
}
#factoryBox.detailWrapper .deLBox .slideBox .hd ul{
  float: none;
}
#factoryBox.detailWrapper .deLBox .slideBox .hd ul li{
  float: none;
  display: inline-block;
}
#factoryBox.detailWrapper .deLBox .slideBox img{}
#factoryBox.detailWrapper .deRBox{
  overflow: hidden;
  display: inline-block;
  width: 394px;
}
#factoryBox.detailWrapper .deRBox .ulBox{
  float: left;
  width: 390px;
  border:2px solid #ddd;
  height: 210px;
}
#factoryBox.detailWrapper .deRBox .ulBox:last-child{
  height: 170px;
  margin-top: 14px;
}
#factoryBox.detailWrapper .deRBox .ulBox .s1,
#factoryBox.detailWrapper .deRBox .ulBox .s2{
  float: left;
}
#factoryBox.detailWrapper .deRBox .ulBox .s1 h4,
#factoryBox.detailWrapper .deRBox .ulBox .s2 h4{
  float: left;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
#factoryBox.detailWrapper .deRBox .ulBox .s1 .line,
#factoryBox.detailWrapper .deRBox .ulBox .s2 .line{
  width: 292px;
  height: 1px;
  float: left;
  background-color: #ddd;
  margin-top: 20px;
  margin-left: 8px;
}
#factoryBox.detailWrapper .deRBox .ulBox .s2 .moreBtn{
  float: left;
  margin-top: 9px;
  margin-left: 6px;
}
#factoryBox.detailWrapper .deRBox .ulBox .s2 .line{
  width: 242px;
}
#factoryBox.detailWrapper .deRBox .ulBox ul{
  float: left;
  line-height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
#factoryBox.detailWrapper .deRBox .ulBox li{}

#factoryBox.detailWrapper .listSearchBox .tabBox2{
  width: 824px;
  margin-right: 18px;
}
#factoryBox.detailWrapper .listSearchBox .btnBox button{
  background-color: #1B2139;
  padding: 0 15px;
  margin-right: 8px;
  height: 38px;
  line-height: 38px;
  border:none;
  color: white;
  font-size: 14px;
  font-family: 微软雅黑;
  cursor: pointer;
}
#factoryBox.detailWrapper .list{

}
#factoryBox.detailWrapper .list .item{
  height: auto;
}
#factoryBox.detailWrapper .list .item .pic{
  height: 300px;
}
#factoryBox.detailWrapper .list .item .pic img{
  
}
#factoryBox.detailWrapper .list .item .s1{
  margin-top: 10px;
  text-align: left;
}
#factoryBox.detailWrapper .list .item .s2{
  margin-top: 5px;
  float: left;
}
#factoryBox.detailWrapper .list .item .s2 i{
  color: #C92027;
  font-size: 18px;
}
/*加工厂面料详情*/
#shopDetailBox.faMaDetailWrapper{}
#shopDetailBox.faMaDetailWrapper .detailBox .detailInfo .b1{
  background-color: #EBEBEB;
}


/*diy page*/
#diyBox{padding-bottom: 40px;}
#diyBox .banner{padding-top: 0;}
#diyBox .bannerbox{
  width: 100%;
  height: 198px;
  background: url(../img/diyBanner.png) no-repeat center;
}
#diyBox.flowerListWrapper .listSearchBox .search_input,
#diyBox.maListWrapper .listSearchBox .search_input{border-left: none;}

#diyBox.flowerListWrapper .pro_box, 
#diyBox.maListWrapper .pro_box{
  margin-top: 250px;
}

#diyBox .list{overflow: hidden;}
#diyBox.flowerListWrapper .list .item, 
#diyBox.maListWrapper .list .item{
  padding-bottom: 15px;
  background-color: white;
  width: 230px;
  float: left;
  margin:15px 9px;
  position: relative;
}
#diyBox.flowerListWrapper .list .item .pic, 
#diyBox.maListWrapper .list .item .pic{
  float: left;
  width: 230px;
  height: 258px;
  overflow: hidden;
}
#diyBox.flowerListWrapper .list .item .pic img,
#diyBox.maListWrapper .list .item .pic img{
  float: left;
}
#diyBox.flowerListWrapper .list .item .title,
#diyBox.maListWrapper .list .item .title{
  float: left;
  width: 100%;
  padding: 10px 0 0 5px;
  box-sizing: border-box;
}
#diyBox.flowerListWrapper .list .item .s1,
#diyBox.maListWrapper .list .item .s1{
  float: left;
  width: 100%;
  padding: 10px 0 0 5px;
  box-sizing: border-box;
}
#diyBox.flowerListWrapper .list .item .s1 i,
#diyBox.maListWrapper .list .item .s1 i{
  color: #c92027;
}
#diyBox.flowerListWrapper .list .item .isSelected,
#diyBox.maListWrapper .list .item .isSelected{
  width: 230px;
  height: 49px;
  position: absolute;
  top: 0;
  left: 0;
}
#diyBox.flowerListWrapper .list .item:hover .isSelected,
#diyBox.maListWrapper .list .item:hover .isSelected{
  background: url(../img/icon.png) no-repeat 0 -303px;
}
#diyBox.flowerListWrapper .list .item.on .isSelected,
#diyBox.maListWrapper .list .item.on .isSelected{
  background: url(../img/icon.png) no-repeat 0 -352px;
}

#diyBox.faListWrapper .list .item .boxMask{
  backface-visibility: hidden; 
  background: rgba(43, 46, 56, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
#diyBox.faListWrapper .list .item:hover .boxMask{
  display: inline-block;
}
#diyBox.faListWrapper .list .item .isSelected{
  width: 180px;
  height: 104px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 20;
  cursor: pointer;
}
#diyBox.faListWrapper .list .item:hover .isSelected{
  display: inline-block;
}
#diyBox.faListWrapper .list .item .isSelected span{
  display: none;
}
#diyBox.faListWrapper .list .item .isSelected .s1,
#diyBox.faListWrapper .list .item .isSelected .s2{
    color: white;
    font-size: 18px;
    position: absolute;
    left: 15px;
    top: 15px;
  }
#diyBox.faListWrapper .list .item:hover .isSelected .s1{
  display: inline-block;
}
#diyBox.faListWrapper .list .item .isSelected i{
  position: absolute;
  right: 20px;
  top: 12px;
  width: 33px;
  height: 33px;
}
#diyBox.faListWrapper .list .item:hover .isSelected i{
  background: url(../img/icon.png) no-repeat -54px -16px;
}
#diyBox.faListWrapper .list .item.on .isSelected{
  display: inline-block;
}
#diyBox.faListWrapper .list .item.on .boxMask{
  display: inline-block;
}
#diyBox.faListWrapper .list .item.on .isSelected i{
  background: url(../img/icon.png) no-repeat -87px -16px;
}
#diyBox.faListWrapper .list .item.on .isSelected .s1{
  display: none;
}
#diyBox.faListWrapper .list .item.on .isSelected .s2{
  display: inline-block;
}

.diyFloatWrapper{
    position: fixed;
    width: 100%;
    height: 112px;
    background-color: #E6E6E6;
    border: 2px solid #ddd;
    box-sizing: border-box;
    bottom: 30px;
    left: 0;
    z-index: 100;
}
.diyFloatWrapper .fixed{
  width: 100px;
  height: 108px;
  position: absolute;
  top: 0;
  left: -120px;
  background-color: #E6E6E6;
  z-index: 110;
}
.diyFloatWrapper .nextBtn{
  position: absolute;
  top: 30px;
  right: 0;
  width: 130px;
  height: 46px;
  background-color: #1B2139;
  font-size: 24px;
  border:none;
  color: white;
  cursor: pointer;
}
.diyFloatWrapper .w{
  padding-left: 300px;
  box-sizing: border-box;
}
.diyFloatWrapper .diyFloatBox{
  float: left;
}
.diyFloatWrapper .diyFloatBox.fst{
  position: absolute;
  left: -70px;
  top: 0;
}
.diyFloatWrapper .diyFloatBox .add{
  background-position: -53px -120px;
  width: 49px;
  height: 49px;
  float: left;
  margin-right: 20px;
  margin-top: 30px;
}
.diyFloatWrapper .diyFloatBox .diyFloat{
  float: left;
  width: 284px;
  height: 82px;
  background-color: white;
  margin-top: 13px;
  margin-right: 20px;
}
.diyFloatWrapper .diyFloatBox .diyFloat .txt{
  float: left;
  font-size: 24px;
  width: 50px;
  margin-top: 10px;
  margin-left: 20px;
  color: #aaa;
}
.diyFloatWrapper .diyFloatBox .diyFloat .pic{
  float: right;
  width: 188px;
  height: 72px;
  margin-top: 5px;
  margin-right: 5px;
  overflow: hidden;
}
.diyFloatWrapper .diyFloatBox .diyFloat .pic img{
  float: left;
}



/*店铺页面*/
#shopIndexBox{
  background-color: #eee;
}
#shopIndexBox .recommendBg{
  height: 70px;
  background: url(../img/bg1.png) no-repeat 0 0;
  margin-top: 80px;
}
#shopIndexBox .newProductsAdBoxWrapper{
  width: 100%;
  height: 677px;
  background: url(../img/shopNewBg.png) no-repeat 0 0;
}
#shopIndexBox .newProductsAdBox{
  padding-top: 20px;
  overflow: hidden;
  
}
#shopIndexBox .newProductsAdBox .a1{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
#shopIndexBox .newProductsAdBox .a2, 
#shopIndexBox .newProductsAdBox .a3, 
#shopIndexBox .newProductsAdBox .a4{
  float: left;
  width: 290px;
  height: 470px;
  margin-right: 25px;
}
#shopIndexBox .newProductsAdBox .a5{
  float: left;
  width: 290px;
  height: 470px;
}
#shopIndexBox .newProductsAdBox .a5 a{
  float: left;
}
#shopIndexBox .newProductsAdBox .a5 a:first-child{
  margin-bottom: 12px;
}
.shopIndexBoxFoot{
  height: 126px;
}
.shopIndexBoxFoot .bg{
  background: url(../img/bg1.png) no-repeat 0 -70px;
  width: 100%;
  height: 96px;
  margin-top: 20px;
}

/*shopTop*/
.shopLogoBox{ height: 58px;padding-top: 22px;padding-bottom: 25px; width: 100%; background-color: #fff; }
.shopLogoBox .logo{float:left; display:block;height: 55px;}
.shopLogoBox .logo img{height: 55px;float: left;}
.shopLogoBox .logoR{
  float: left;
  width: 308px;
  height: 1px;
}
.shopLogoBox .b2{
  float: left;
  height: 45px;
  margin-top: 10px;
  width: 150px;
  padding-right: 15px;
  margin-left: 15px;
}
.shopLogoBox .b2 .shopName{
  float: left;
  font-size: 18px;
}
.shopLogoBox .b2 .stars{
  float: left;
}
.shopLogoBox .contactBtn{
  float: left;
  display: inline-block;
  border:1px solid #CC2D34;
  padding: 5px;
  color: #CC2D34;
  margin-top: 17px;
  margin-right: 60px;
}

.shopLogoBox .car_a{ 
  float: right; 
  background: url(image/car.png) no-repeat 12px center; 
  padding:10px 15px 10px 45px; 
  border: 1px solid #ddd; 
  margin-top: 10px; 
}

.shopLogoBox .selectbox{
  float: left; 
  margin-top: 12px;
}
.shopLogoBox .selectbox .search_panel{
  position: relative;
}
.shopLogoBox .selectbox .search_btn{
  font-family:"微软雅黑", 
  Arial, sans-serif;
  font-size: 20px;
  color: #FFF;
  background-color: #c92027; 
  cursor: pointer;
  height: 100%; 
  border: none; 
  width: 100%;
}
.shopLogoBox .selectbox .search_btnbox{
  position: absolute; 
  right: -90px; 
  top:0; 
  z-index: 100; 
  width: 90px;  
  height:38px; 
  overflow: hidden; 
  text-align: center;
}
.shopLogoBox .selectbox .search_input{
  font-family:"微软雅黑", Arial, sans-serif;
  vertical-align: middle;
  padding: 6px 0; 
  text-indent: 10px; 
  height: 22px; 
  line-height: 22px; 
  width: 410px; 
  border: none; 
  outline: 0; 
  background-color: #FFF; 
  *margin-left: -10px;
  *margin-top: -1px;
}
.shopLogoBox .selectbox .search_field{ 
  padding: 2px 0 2px 2px;
  height: 34px; 
  background-color: #c92027;
}
.shopLogoBox .selectbox .searchOwnBtn{
  width: 90px;
  height: 38px;
  border:none;
  position: absolute;
  right: -190px;
  background-color: #1B2139;
  font-family:"微软雅黑", 
  Arial, sans-serif;
  font-size: 20px;
  color: #FFF;
}
.shopLogoBox2{
  background-color: #eee;
  height: 118px;
}
.shopLogoBox2 .l{
  float: left;
  margin-top: 16px;
}
.shopLogoBox2 .pic{
  float: left;
}
.shopLogoBox2 .l img{
  float: left;
}
.shopLogoBox2 .r{
  float: right;
}
.shopLogoBox2 .r .gz{
  float: right;
  margin-top: 59px;
}
.shopLogoBox2 .r .gzBtn{
  float: right;
  width: 84px;
  height: 28px;
  line-height: 28px;
  color: white;
  background-color: #C92027;
  margin-top: 55px;
  margin-right: 10px;
  text-align: center;
}
.shopLogoBox2 .r .gzBtn i{
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
}
.shopLogoBox2 .r .gzBtn span{
  
}

/*产品详情*/
.detailBox{
  margin-top: 20px;
  overflow: hidden;
}
.detailBox .slideBox{
  width: 420px;
  height: 550px;
  overflow:hidden;
  float: left;
  margin-right: 25px;
  padding-bottom: 80px;
}
.detailBox .detailInfo{
  float: left;
}
.detailBox .slideBox .hd{
  position: relative;
  right: 0;
  bottom: 0;
  overflow: inherit;
  height: 80px;
}
.detailBox .slideBox .hd ul{ 
  float:left;  
  position: relative;
}
.detailBox .slideBox .hd ul li{ 
  float:left; 
  margin-right:14px; 
  width:70px; 
  height:70px;
  cursor:pointer;
  overflow: hidden;
  border-radius:0;
  margin-top: 10px;
}
.detailBox .slideBox .hd ul li.on{
  border:1px solid #c92027; 
  width:68px; 
  height:68px;
}
.detailBox .slideBox .bd{

}
.detailBox .slideBox .bd li{ 
  vertical-align:middle; 
}
.detailBox .slideBox .bd img{
  width:100%;
}
.detailBox .detailInfo{
  width: 525px;
  float: left;
  margin-right: 25px;
}
.detailBox .detailInfo .title{
  float: left;
  font-size: 24px;
  width: inherit;
}
.detailBox .detailInfo .priceBox{
  float: left;
  width: inherit;
}
.detailBox .detailInfo .price{
  float: left;
  color: #C92027;
  font-size: 42px;
  font-weight: bold;
}
.detailBox .detailInfo .price i{
  font-size: 24px;
}
.detailBox .detailInfo .oldPrice{
  float: left;
  font-size: 18px;
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
  margin-top: 22px;
}
.detailBox .detailInfo .oldPrice i{

}
.detailBox .detailInfo .b1{
  background-color: #F8F0F1;
  width: inherit;
  height: 58px;
  float: left;
  margin-bottom: 20px;
  width: 525px;
}
.detailBox .detailInfo .b1 .s{
  float: left;
  width: inherit;
  height: 58px;
  line-height: 58px;
}
.detailBox .detailInfo .b1 .s label{
  float: left;
  margin-right: 8px;
}
.detailBox .detailInfo .b1 .s span{
  float: left;
  color: #c92027;
}
.detailBox .detailInfo .b1 .s1{
  width: 152px;
  margin-left: 32px;
}
.detailBox .detailInfo .b1 .s2{
  width: 221px;
}
.detailBox .detailInfo .b1 .s3{
  width: 114px;
}
.detailBox .detailInfo .info{
  float: left;
  width: 520px;
  height: 54px;
  line-height: 54px;
}
.detailBox .detailInfo .info label{
  float: left;
  width: 80px;
}
.detailBox .detailInfo .info .c{
  float: left;
  width: 440px;
}
.detailBox .detailInfo .info .c .selBtn{
  float: left;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border:1px solid #ddd;
  margin-top: 10px;
  margin-right: 10px;
}
.detailBox .detailInfo .info .c .selBtn:hover, 
.detailBox .detailInfo .info .c .selBtn.on{
  border-color: #c92027;
}
.detailBox .detailInfo .express{}
.detailBox .detailInfo .express .s1{
  float: left;
}
.detailBox .detailInfo .express .s2{
  float: left;
  margin: 0 3px;
}
.detailBox .detailInfo .express .s3{
  float: left;
  margin-right: 20px;
  width: 76px;
  position: relative;
  cursor: pointer;
}
.detailBox .detailInfo .express .s3 i{
  position: absolute;
  width: 9px;
  height: 7px;
  background-position: -58px 0;
  right: 8px;
  top: 24px;
}
.detailBox .detailInfo .express .s4{
  float: left;
}
.detailBox .detailInfo .gy{}
.detailBox .detailInfo .gy a{}
.detailBox .detailInfo .hd{}
.detailBox .detailInfo .hd a{}
.detailBox .detailInfo .num{
  
}
.detailBox .detailInfo .num .c{
  margin-top: 8px;
}
.detailBox .detailInfo .num .minusBtn{
  float: left;
  width:32px;
  height:32px;
  border:1px solid #ddd;
}
.detailBox .detailInfo .num .minusBtn i{
  background-position:-92px -5px;
  width: 14px;
  height: 3px;
  float: left;
  margin-left: 8px;
  margin-top: 15px;
}
.detailBox .detailInfo .num .txtInput{
  float: left;
  width: 66px;
  height: 32px;
  border:1px solid #ddd;
  border-left:none;
  border-right:none;
  text-align: center;
}
.detailBox .detailInfo .num .addBtn{
  float: left;
  width:32px;
  height:32px;
  border:1px solid #ddd;
}
.detailBox .detailInfo .num .addBtn i{
  background-position:-79px 0;
  width: 13px;
  height: 12px;
  float: left;
  margin-left: 9px;
  margin-top: 10px;
}
.detailBox .detailInfo .num .text{
  float: left;
  line-height: 40px;
  margin-left: 10px;
}
.detailBox .detailInfo .btnBox{
  float: left;
  margin-top: 15px;
}
.detailBox .detailInfo .btnBox a{
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  margin-right: 15px;
  color: white;
  font-size: 18px;
}
.detailBox .detailInfo .cartBtn{
  float: left;
  background-color: #FF6700;
}
.detailBox .detailInfo .cartBtn:hover{
  background-color: #e85e00;
}
.detailBox .detailInfo .buyBtn{
  float: left;
  background-color: #C92027;
}
.detailBox .detailInfo .buyBtn:hover{
  background-color: #bb0810;
}
.detailBox .detailInfo .likeBox{
  float: left;
  width: inherit;
  margin-top: 30px;
}
.detailBox .detailInfo .likeBtn{
  float: left;
  position: relative;
  margin-left: 20px;
  margin-right: 50px;
}
.detailBox .detailInfo .likeBtn i{
  background-position: -15px 0;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 3px;
  left: -18px;
}
.detailBox .detailInfo .shareBtn{
  float: left;
  position: relative;
}
.detailBox .detailInfo .shareBtn i{
  background-position: -133px 0;
  width: 15px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: -18px;
}
.detailBox .detailInfo .reportBtn{
  float: left;
  margin-top: 25px;
}


.detailBox .detailShop{
  float: left;
  width: 230px;
}
.detailBox .detailShop .logo{
  float: left;
  width: 230px;
}
.detailBox .detailShop .logo .pic{
  float: left;
  width: 60px;
  height: 58px;
  border:1px solid #ddd;
  margin-right: 12px;
}
.detailBox .detailShop .logo .r{
  float: left;
  width: 150px;
}
.detailBox .detailShop .logo .r h3{
  float: left;
  width: inherit;
  margin: 6px 0;
}
.detailBox .detailShop .logo .r .stars{
  float: left;
}
.detailBox .detailShop .info{
  float: left;
  width: inherit;
  margin: 10px 0;
}
.detailBox .detailShop .info li{
  float: left;
  width: inherit;
  line-height: 30px;
}
.detailBox .detailShop .info li label{
  float: left;
}
.detailBox .detailShop .info li span{
  float: left;
}
.detailBox .detailShop .info li span i{
  float: left;
  margin-right: 5px;
}
.detailBox .detailShop .info li .zz{
  margin-top: 7px;
}
.detailBox .detailShop .info li .zz .red{
  background-position:-148px 0;
  width: 17px;
  height: 17px; 
}
.detailBox .detailShop .info li .zz .v{
  background-position:-165px 0; 
  width: 53px;
  height: 17px; 
  color: #FF6700;
  padding-left: 20px;
  line-height: 17px;
  font-size: 12px;
}
.detailBox .detailShop .btnBox{
  float: left;
  width: inherit;
}
.detailBox .detailShop .btnBox a{
  width: 100px;
  margin-right: 10px;
}


#shopDetailBox .pro_box .titname{
  font-size: 18px;
}
#shopDetailBox .detail{
  margin-top: 60px;
  overflow: hidden;
}
#shopDetailBox .detail .detailL{
  float: left;
  width: 224px;
  margin-right: 26px;
}
#shopDetailBox .detail .detailR{
  float: right;
  width: 990px;
}
.lBox{
  border:1px solid #ddd;
  float: left;
  width: 224px;
  min-height: 50px;
  margin-bottom: 15px;
}
.lBox .title{
  float: left;
  border-bottom:1px solid #ddd;
  height: 38px;
  line-height: 38px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}
#shopDetailBox .detailL .bestSeller .list{
  float: left;
  padding-bottom: 20px;
}
#shopDetailBox .detailL .bestSeller .item{
  float: left;
  margin-top: 16px;
  margin-left: 20px;
  width: 190px;
  height: 76px;
}
#shopDetailBox .detailL .bestSeller .item .pic{
  width: 68px;
  height: 76px;
  float: left;
  overflow: hidden;
}
#shopDetailBox .detailL .bestSeller .item .r{
  float: left;
  width: 100px;
  margin-left: 14px;
  margin-top: 5px;
}
#shopDetailBox .detailL .bestSeller .item .r span{
  float: left;
  width: 100%;
  margin-top: 3px;
}
#shopDetailBox .detailL .bestSeller .more{
  float: left;
  border-top:1px solid #ddd;
  height: 38px;
  line-height: 38px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
#shopDetailBox .detailL .oftenLook .list{
  float: left;
  width: 140px;
  margin-left: 40px;
  margin-top: 15px;
  padding-bottom: 20px;
}
#shopDetailBox .detailL .oftenLook .item{
  float: left;
  width: 140px;
  height: 222px;
  margin-top: 15px;
}
#shopDetailBox .detailL .oftenLook .item .pic{
  width: 140px;
  height: 172px;
  float:left;
  overflow: hidden;
}
#shopDetailBox .detailL .oftenLook .item .b{
  float: left;
  width: 140px;
}
#shopDetailBox .detailL .oftenLook .item .b .s1{
  text-align: center;
  float:left;
  width:inherit;
  margin-top: 6px;
}
#shopDetailBox .detailL .oftenLook .item .b .s2{
  text-align: center;
  float:left;
  width:inherit;
  margin-top: 3px;
}

#shopDetailBox .tabBox{
  float: left;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
#shopDetailBox .tabBox a{
  font-size: 16px;
  height: 36px;
  padding: 0 15px;
  display: inline-block;
  line-height: 36px;
  float: left;
}
#shopDetailBox .tabBox a.on{
  color: #C92027;
  border-bottom: 1px solid #C92027;
  margin-bottom: -1px;
}
#shopDetailBox .contentBox{
  padding-left: 10px;
}
#shopDetailBox .deBox .info{
  float: left;
  margin-bottom: 15px;
}
#shopDetailBox .deBox .deBoxInfo1 label,
#shopDetailBox .deBox .deBoxInfo2 label{
  float: left;
}
#shopDetailBox .deBox .text{
  float: left;
}
#shopDetailBox .deBoxInfo1{
  float: left;
  width: 100%;
  margin-top: 25px;
}
#shopDetailBox .deBoxInfo1 .i1{
  width: 755px;
  margin-right: 10px;
}
#shopDetailBox .deBoxInfo1 .i2{
  width: 210px;
}
#shopDetailBox .deBoxInfo1 .i3{
  width: 306px;
}
#shopDetailBox .deBoxInfo1 .i4{
  width: 665px;
}
#shopDetailBox .deBoxInfo2{
  float: left;
  width: 100%;
  margin-top: 50px;
}
#shopDetailBox .deBoxInfo2 .i0{
  width: 100%;
}
#shopDetailBox .deBoxInfo2 .i1{
  width: 329px;
}
#shopDetailBox .deBoxInfo2 .i2{
  width: 317px;
}
#shopDetailBox .deBoxInfo2 .i3{
  width: 329px;
}
#shopDetailBox .deBoxInfo2 .i4{
  width: 329px;
}
#shopDetailBox .deBoxInfo2 .i5{
  width: 317px;
}
#shopDetailBox .deBoxInfo2 .i6{
  width: 329px;
}
#shopDetailBox .deBoxInfo2 .i7{
  width: 329px;
}
#shopDetailBox .deBoxInfo2 .i8{
  width: 317px;
}

/*文本编辑框样式重置*/
.editBoxContent{
  margin-top: 50px;
  float: left;
  width: 100%;
}
.editBoxContent i,
.editBoxContent b,
.editBoxContent em{font-style: italic;}
.editBoxContent b,
.editBoxContent h1,
.editBoxContent h2,
.editBoxContent h3,
.editBoxContent h4,
.editBoxContent h5,
.editBoxContent h6{font-weight: bold;}
.editBoxContent dd, 
.editBoxContent dl, 
.editBoxContent dt, 
.editBoxContent li, 
.editBoxContent ul{list-style:inherit;}
.editBoxContent ol{list-style-type: decimal;}

/*花型详情*/
.shopLogoBox2.flowerLogoBox2 {

}
.shopLogoBox2.flowerLogoBox2 .title{
  float: left;
  width: 650px;
  margin-left: 15px;
}
.shopLogoBox2.flowerLogoBox2 .main{
  float: left;
  width: inherit;
}
.shopLogoBox2.flowerLogoBox2 .main span{
  float: left;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 5px;
  position: relative;
}
.shopLogoBox2.flowerLogoBox2 .main i{
  background-position: -53px -81px;
  width: 82px;
  height: 28px;
  float: left;
  margin-top: 16px;
  margin-left: 15px;
}
.shopLogoBox2.flowerLogoBox2 .sub{
  float: left;
  color: #aaa;
}
.shopLogoBox2.flowerLogoBox2 .r .view{
  float: left;
  font-size: 18px;
  color: #999;
  margin-top: 50px;
}

#shopDetailBox.flowerWrapper{

}
#shopDetailBox.flowerWrapper .lPic{
  width: 576px;
  height: 856px;
  float: left;
  margin-right: 48px;
}
#shopDetailBox.flowerWrapper .detailBox .detailInfo .b1{
  background-color: #EBEBEB;
}
#shopDetailBox.flowerWrapper .detailBox .detailInfo{
  width: 580px;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox{
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 26px;
  width: 644px;
  margin-left: -28px;
  float: left;
  margin-bottom: 30px;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .openBtn{
  background-position: 0 -169px;
  float: left;
  width: 143px;
  height: 134px;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .closeBtn{
  background-position: -143px -169px;
  float: left;
  width: 143px;
  height: 134px;
  margin-top: 5px;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .backBtn{
  background-color: #1B2139;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  color: white;
  margin-top: 10px;
}
#shopDetailBox.flowerWrapper .detailInfo .infoList{
  float: left;
  width: 400px;
  margin-left: 40px;
}
#shopDetailBox.flowerWrapper .detailInfo .infoList li{
  width: 195px;
  float: left;
  margin-right: 5px;
  line-height: 25px;
}
#shopDetailBox.flowerWrapper .detailInfo .infoList li.maxW{
  width: 100%;
}
#shopDetailBox.flowerWrapper .detailInfo .diyBtn{
  background-color: #1B2139;
}
#shopDetailBox.flowerWrapper .detailInfo .diyBtn:hover{
  background-color: #0b0e1b;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .imgList{
  float: left;
  width: 610px;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .imgList li{
  float: left;
  width: 102px;
  margin-right: 12px;
  margin-bottom: 8px;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .imgList .pic{
  float: left;
  width: 90px;
  height: 132px;
  padding: 6px;
  border:1px solid white;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .imgList .pic:hover,
#shopDetailBox.flowerWrapper .detailInfo .tryBox .imgList .pic.on{
  border:1px solid #C92027;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .imgList .pic img{
  float: left;
}
#shopDetailBox.flowerWrapper .detailInfo .tryBox .imgList .text{
  float: left;
  text-align: center;
  width: 98px;
}
#shopDetailBox.flowerWrapper .detailInfo .priceBox .text1{
  float: left;
  font-size: 18px;
  color: #999;
  margin-top: 22px;
  margin-left:10px;
}
#shopDetailBox.flowerWrapper .detailInfo .priceBox .text2{
  float: left;
  font-size: 18px;
  color: #999;
  margin-top: 22px;
  margin-left: 25px;
}

#shopDetailBox.flowerWrapper .flowerList{
  
}
#designerBox.studioWrapper .list,
#shopDetailBox.flowerWrapper .flowerList .list{
  float: left;
  padding-bottom: 30px;
}
#designerBox.studioWrapper .list .item, 
#shopDetailBox.flowerWrapper .flowerList .item{
  float: left;
  width: 232px;
  margin: 0 8px;
  margin-top: 15px;
}
#designerBox.studioWrapper .list .item .pic,
#shopDetailBox.flowerWrapper .flowerList .item .pic{
  float: left;
  width: inherit;
}
#designerBox.studioWrapper .list .item .s1,
#shopDetailBox.flowerWrapper .flowerList .item .s1{
  float: left;
  width: inherit;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 6px;
}
#designerBox.studioWrapper .list .item .s2,
#shopDetailBox.flowerWrapper .flowerList .item .s2{
  float: left;
  width: inherit;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 6px;
}
#designerBox.studioWrapper .list .item .s2 i,
#shopDetailBox.flowerWrapper .flowerList .item .s2 i{
  font-size: 18px;
  color: #C92027;
}
#designerBox.studioWrapper .list .item .s3,
#shopDetailBox.flowerWrapper .flowerList .item .s3{
  float: left;
  width: inherit;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 6px;
}
#designerBox.studioWrapper .list .item .s3 label,
#shopDetailBox.flowerWrapper .flowerList .item .s3 label{
  color: #aaa;
}
#shopDetailBox.flowerWrapper .deBox .infoTable {
  float: left;
  width: 100%;
  margin-top: 30px;
}
#shopDetailBox.flowerWrapper .deBox .infoTable td,
#shopDetailBox.flowerWrapper .deBox .infoTable th{
  border: 1px solid #ddd;
  text-indent: 10px;
  height: 38px;
  line-height: 38px;
}
#shopDetailBox.flowerWrapper .deBox .infoTable th{
  background-color: #EEEEEE;
}
